* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ubuntu: "Ubuntu", sans-serif;
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
    --noto-color: "Noto Color Emoji", sans-serif;
    --bg-color: #0A0A0A;
    --description-color: #828282;
    --footer-bg: #393948;
    --span-color: rgb(130, 130, 130, .5);
    --font-xs: 1rem;
    --font-s: 1.6rem;
    --font-md: 1.8rem;
    --font-l: 2rem;
    --font-lg: 2.4rem;

}

h1, h2, h3, h4, span{
    font-family: var(--ubuntu);
}

html{
    font-size: 62.5%;

}

body{
    background-color: var(--bg-color);
}

p{
    font-family: var(--poppins);
}

.container {
    width: 85%;
    margin: 0 auto;
}
.title {
    margin-bottom: 2rem;
    font-size: var(--font-lg);
    color: white;
}


/* -----------------MAIN----------- */
.main{
    margin: 4rem 0 15rem;
}
/* ---------------END MAIN--------- */

.hero{
    /* width: 85%;
    margin: 0 auto; */
}
.hero__title{
    /* margin-bottom: 2rem;
    font-size: var(--font-lg);
    color: white; */
}
.hero__description{
    color: var(--description-color);
    margin-bottom: 2.4rem;
    font-size: var(--font-s);
    line-height: 20px;
}

.hero__details{

}
.details__services{
    margin-bottom: 1.8rem;
    color: white;
    font-size: var(--font-md);
}
.details__items{
    font-family: var(--poppins);
    font-size: var(--font-s);
    color: var(--description-color);    
    width: fit-content;
    margin-left: 3rem;
    margin-bottom: 2.4rem;
}

.btn{
    font-family: var(--poppins);
    font-weight: bold;
    padding: 6px;
    border: none;
    border-radius: 16px;
}

/* ---------- SEPARATOR ---------- */
.separator{
    margin: 128px 0;
}
.separator__details{
    width: fit-content;
    color: var(--span-color);
    border: 1px solid var(--span-color);
    font-size: var(--font-xs);
    border-radius: 16px;
    padding: 6px;
    
}
.separator__description{
    margin-right: 10px;   
}
/* .separator__details::after{
    content: "";
    background: rgb(2,0,36);
    background: linear-gradient(to rigth, rgba(2,0,36,1) 29%, rgba(4,118,193,0.006039915966386533) 91%);
} */

/* ---------- END SEPARATOR ---------- */

/* ---------- PROJECTS ---------- */

.projects__title{
    /* margin-bottom: 2rem;
    font-size: var(--font-lg);
    color: white; */
}
.projects__description{
    color: var(--description-color);
    margin-bottom: 2.4rem;
    font-size: var(--font-s);
    line-height: 20px;
}

.projects__project{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project__card{
    width: 100%;
    border: 1px solid var(--span-color);
    border-style: dashed;
    border-radius: 1.6rem;
    padding: 2.8rem;
}

.project__img-container{
    width: 100%;
}
.project__img{
    width: 100%;
    height: 15rem;
    margin-bottom: 1.6rem;
    object-fit: cover;
    border-radius: 4px;
}
.description__title{
    
    margin-bottom: 1.2rem;
    color: white;
    font-size: var(--font-s);
    line-height: 20px;

}
.description__detail{
    color: var(--span-color);
    font-size: var(--font-s);
    line-height: 20px;
    margin-bottom: 1.2rem;
}
.description__links{
    display: flex;
    gap: 8px;
    font-size: var(--font-md);
}
.links__anchor {
    color: white;
    display: inline-block;
    text-decoration: none;
}
/* ---------- END PROJECTS ---------- */


/* ---------- BLOG ---------- */
.blog{
    color: white;
}
.blog__title{
    font-size: var(--font-lg);
    margin-bottom: 2rem;
}
.blog__description{
    margin-bottom: 2.8rem;
    font-size: var(--font-md);
    color: var(--description-color);
}
.blog__post{
    max-width: 600px;
    margin: 0 auto
}
.post__container{
    width: 100%;
    border: 1px solid var(--span-color);
    border-style: dashed;
    border-radius: 1.6rem;
    padding: 2.8rem;
    margin-bottom: 2rem;
}
.post__title{
    margin-bottom: 1.6rem;
    font-size: var(--font-md);
    color: white;
}
.post__detail{
    font-size: var(--font-md);
    color: var(--description-color);
}
/* ---------- END BLOG ---------- */




/* ---------- CONTACT ---------- */
.contact{
    /* padding-bottom: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    color: white;
}
.contact__description{
    font-size: var(--font-s);
    color: var(--description-color);
}

.description__emoji{
    color: white;
}

.contact__form-container{
    padding: 2.8rem;
    border: 1px solid var(--span-color);
    border-style: dashed;
    border-radius: 1.6rem;
}
.contact__title{
    margin-bottom: 1.6rem;
    font-size: var(--font-md);
    text-align: center;
}
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form__label{
    font-family: var(--poppins);
    color: var(--description-color);
    font-size: var(--font-s);
}
.form__input{
    padding: 8px;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
}

.form__message{
    width: 100%;
    height: 8rem;
    padding: 4px;
    border: none;
    border-radius: 8px;

}
/* ---------- END CONTACT---------- */

/* ---------- FOOTER---------- */

.footer{
    /* height: 8rem; */
    
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 4.8rem;


    border-top: 1px solid var(--span-color);
    border-style: dashed;

    text-align: center;
    padding-top: 4.8rem;
}


.footer__socials{
    /* display: flex; */
}
.socials__container{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    font-size: var(--font-l);
    list-style: none;
}
.socials__item{
    color: white;

}
.socials__link{
    color: white;
    display: inline-block;
    text-decoration: none;
}
.footer__copy{
    color: white;
}

.footer__title{
    color:var(--description-color);
    font-family: var(--ubuntu);
    /* font-weight: bold; */
    font-size: var(--font-md);
}
.footer__copy{
    color: var(--description-color);
}
/* ---------- END FOOTER---------- */
